.titulo_white_center{
    text-align:center;
    color:white;
}

.col_colorInfo{
    background-color:#25B382;
}
.col_colorProyect{
    background-color:#115240;
}

.colorLime1{
    background-color:#219E7D;
}
.colorLime2{
    background-color:#25B38D;
}
.colorLime3{
    background-color:#29C299;
}
.colorLime4{
    background-color:#2BCCA1;
}
.colorLime5{
    background-color:#2CD4A7;
}
.text_left{
    text-align:left;
    color:white;
}

.aling_center{
   align-items:center;
 
}
.center{
    text-align:center;
    padding:10px;
}

.profile_size{
    
    width:200px;
    height:200px;
}

.elegant_font{
   font-family: 'Dosis', sans-serif;
   font-size:40px;
  
}
.elegant_font_dark{
   font-family: 'Dosis', sans-serif;
   font-size:40px;
   color:white;
}

.small{
    text-align:center;
    width:50px;
    height:50px;
}

.container_full{

    height:100%;
   
}

html,body{
margin:0;
height:100%;
background-color:#115240;
}

.listNone{
    list-style:none;
}

.delay_0-5s{
    animation-delay: 0.5s;
}
.delay_0-7s{
    animation-delay: 0.7s;
}
.delay_0-9s{
    animation-delay: 0.9s;
}
.delay_1-1{
    animation-delay: 1.1s;
}

text_white{
    color:white;
}

li{
    color:white;
}